* {
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 18px;
}

ul {
   margin: 2%;
   list-style: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

ul li {
   display: flex;
   justify-content: space-between;
   position: relative;
}

ul li a {
   padding: 10px;
   display: flex;
   align-items: center;
}

.dir a::before {
   content: '';
   background-image: url(../../img/ico_dir.png);
   height: 30px;
   width: 30px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-right: 5px;
}

.file a::before {
   content: '';
   background-image: url(../../img/ico_file1.png);
   height: 30px;
   width: 30px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   margin-right: 5px;
}

.hidden {
   display: none;
   position: absolute;
   left: 10%;
   top: 50%;
}

ul li:hover .hidden {
   display: block;
}

.form_hidden {
   display: none;
}

.form_display {
   display: block;
}